@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Lalezar&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit&display=swap");

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1200px;

* {
  font-family: "Open Sans", sans-serif;
}
#logo_titulo h1{
  width: 8em;
  text-transform: uppercase;
  color: rgb(148, 148, 148);
  font-size: 3em;
  font-weight: lighter;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
#logo_titulo  {
  padding: 0;
}
#logo_titulo h1 span{
  color: #000;
  font-weight: bold;
}
#logo_titulo p {
  width: 19em;
  font-size: 18px;
  color: rgb(148, 148, 148);
}
#logo_titulo #conteudo {
  padding-left: 19rem;
}
.intro .logo_digital_house {
  margin-top: 0;
}
#imagem_mulher_lousa {
  padding: 0;
}
#conteudo .btn {
  width: 55%;
  height: 53px;
  font-size: 1.5em;
  padding: 0;
}
#conteudo {
  margin-top: 10vh;
}
#info_aulas {
  background-color: #EEEEEE;
}